.profile {
  padding: 20px 40px;
  border: 1px solid #000;
  margin: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 12px;
}
.description {
  background-color: gray;
  color: antiquewhite;
}
.avatar {
  display: block;
  max-width: 100%;
  height: auto;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.stats li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
