.transaction-history {
  background-color: lightskyblue;
  margin-top: 8px;
  margin-bottom: 8px;
}
td {
  width: 25%;
}
th {
  background-color: grey;
  color: whitesmoke;
}
tr:nth-child(2n + 1) {
  background-color: lightcyan;
}
