.statistics {
  padding: 0;
  border: 1px solid purple;
  overflow: hidden;
  border-radius: 14%;
  margin-bottom: 8px;
}
.statistics .title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: indigo;
  margin-top: 4px;
  margin-bottom: 8px;
}
.statistics .stat-list {
  margin: 8px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.statistics .item {
  border: 1px solid orange;
  width: 100px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: bisque;
  font-weight: 700;
}
.statistics .item:nth-child(1) {
  background-color: aqua;
}
.statistics .item:nth-child(2) {
  background-color: blueviolet;
}
.statistics .item:nth-child(3) {
  background-color: crimson;
}
.statistics .item:nth-child(4) {
  background-color: green;
}
.statistics .item:nth-child(5) {
  background-color: cadetblue;
}
.statistics .percentage {
  padding: 4px;
}

.statistics .label {
  font-weight: 400;
}
