.friend-list .status {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.status.online {
  background-color: green;
}
.status.offline {
  background-color: red;
}

.friend-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.friend-list .item {
  display: flex;
  flex-direction: row;
  padding: 8px;
  justify-content: wrap;
  align-items: center;
  background-color: lightgrey;
  gap: 20px;
}
