.friend-list .status {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.status.online {
  background-color: green;
}
.status.offline {
  background-color: red;
}

.friend-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
}
.friend-list .item {
  display: flex;
  flex-direction: row;
  padding: 8px;
  justify-content: wrap;
  align-items: center;
  background-color: rgb(155, 172, 195);
  border-radius: 4px;

  box-shadow: 5px 5px 3px lightseagreen;
  gap: 20px;
}
.friend-list .name {
  font-weight: 700;
  color: rgb(247, 234, 234);
}

.item .avatar {
  background-color: bisque;
  border-radius: 10%;
  width: 80px;
  height: auto;
}
